body {
    background-image: url("./img/background.jpg");
    height: 100%;
    width: 100%;
}

#letters {
    margin-top: 45%;
}

.eachLetter {
    border-radius: 10px;
    border-color: yellow;
    margin: 4px 4px 4px 4px;
    opacity: 60%;
}